@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing:inherit;
}
body {
    margin: 0px;
    box-sizing: border-box;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
}

/* Header bar with logo and links */
.hero-full {
    padding-left: 14.3%;
    padding-right: 14.3%;
    color: #E5E7EB;
}
.header {
    align-items: center;
    padding-top: 18px;
}
.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.header .link-container {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 18px;
}
.header li {
    display: inline-block;
}
.header a {
    color: inherit;
    text-decoration: none;
}
.header .logo a {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}

/* Hero section */
div.hero-panel {
    display: flex;
    height: 500px;
    align-items: center;
}
.hero-panel .text-container {
    flex: 1;
}
.hero-panel .text-container h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
}
.hero-panel .text-container p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 15px;
}

button { /* Reset default button style */
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.hero-panel .text-container button { /* 'Sign up' button */
    background-color: #3882F6;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 9px 32px;
    border-radius: 8px;
}
.hero-panel .text-container button:hover {
    background-color: #3882F6c7;
}
.hero-panel .text-container button:active {
    background-color: #7896c4;
}
.hero-panel .img-container { /* Hero Banner placeholder */
    background-color: #6d747d;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}

/* Information section with illustrations */
.info-panel {
    color: #1f2937; 
    background-color: #fff;
    height: 400px;
    padding-left: 14.3%;
    padding-right: 14.3%;
}
.info-panel h2 {
    
    font-size: 36px;
    font-weight: 1000;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.illustrations-container {
    display: flex;
    justify-content: center;
    gap: 3em;
}
.capsule {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
}
.capsule div {
    
    flex-grow: 1;
    height: 170px;
    border: solid #3882F6 4px;
    border-radius: 18px;
    
}
.capsule p {
    font-size: 18px;
    color: #4a5d68;
    text-align: center;
    margin: 8px 0 0 0;
}

